* {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 1000px;
  background: linear-gradient(90deg, #f7f7f7 50%, #d0d2d3 50%);
  display: flex;
  flex-direction: column;
}
#challengerNames {
  background-color: white;
  border: solid 1px #d0d2d3;
  height: 340px;
  width: 48%;
}

#currentRange {
  padding-left: 12px;
  margin-top: 8px;
}

.challenger {
  padding-left: 12px;
  font-size: 14pt;
  width: 500px;
  margin-bottom: -10px;

}

.inputFields {
  padding-left: 12px;
}

#inputSection1,
#inputSection2 {
  display: flex;
  flex-wrap: wrap;
}

.name {
  width: 400px;
  height: 25px;
}
.guess {
  width: 180px;
  height: 25px;
}
.name,
.guess {
  display: inline-block;
}

#buttons {
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
  padding-right: 5px;
  align-items: flex-end;
  height: 40px;
}

button.default {
  background-color: #d0d2d3;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  width: 180px;
  height: 30px;
  justify-content: center;
  font-size: 14pt
}
#latestGuess {
  width: 48%;
  background-color: white;
  border: solid 1px #d0d2d3;

}

#header-box {
  background-color: #404042;

}

#header {
  color: #EC458B;
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 65px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

#sub-head {
  color: white;
  display: block;
  text-align: center;
  font-weight: 10;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;

}


#num {
  font-weight: bold;
  padding-right: 0px;
}

#guess {
  font-weight: 100;
  padding-left: 0px;
}

#range-box {
  background: #FFFFFF;
  border: 1px #EEEEEE solid;
  width: 40%;
  padding: 15px;
  margin-left: 15px;
}

.range-header {
  margin: 4px;
  font-size: 20px;
  color: #5E5E5E;
}

.range-input {
  display: inline-block;
  width: 200px;
  color: #78767E;
}

.range-form {
  padding-left: 3px;
}

.range-button {
  background-color: #D1D2D4;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin: 18px 7px 0px 0px;
}

input {
  padding: 8px 55px 8px 0px;

}

hr {
  display: inline-block;
  width: 90px;
}
